/**
 * Site Header
 */
  /* line 20, sass/snippets/_full-width-video-snippet.scss */
  .controls-container {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* line 31, sass/snippets/_full-width-video-snippet.scss */
  .controls-container .video-control .video-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 40px;
    background-color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15) !important;
    transition: opacity 300ms ease;
  }
  
  /* line 45, sass/snippets/_full-width-video-snippet.scss */
  .controls-container .video-control .video-btn svg {
    height: 32px;
    width: 32px;
  }
  
  /* line 50, sass/snippets/_full-width-video-snippet.scss */
  .controls-container .video-control .video-btn span {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #2e2e2e;
    text-transform: uppercase;
    margin: 0;
    margin-left: 16px;
    transition: color 300ms;
  }
  
  /* line 62, sass/snippets/_full-width-video-snippet.scss */
  .controls-container .video-control .video-btn:hover {
    opacity: 0.85;
  }
  
  /* line 68, sass/snippets/_full-width-video-snippet.scss */
  .controls-container .video-control.on .unmute {
    display: none;
  }
  
  /* line 71, sass/snippets/_full-width-video-snippet.scss */
   .controls-container .video-control.on .mute {
    display: flex;
  }
  
  /* line 74, sass/snippets/_full-width-video-snippet.scss */
  .controls-container .video-control.on .play {
    display: none;
  }
  
  /* line 77, sass/snippets/_full-width-video-snippet.scss */
  .controls-container .video-control.on .pause {
    display: flex;
  }
  
  /* line 82, sass/snippets/_full-width-video-snippet.scss */
  .controls-container .video-control.off .unmute {
    display: flex;
  }
  
  /* line 85, sass/snippets/_full-width-video-snippet.scss */
   .controls-container .video-control.off .mute {
    display: none;
  }
  
  /* line 88, sass/snippets/_full-width-video-snippet.scss */
   .controls-container .video-control.off .play {
    display: flex;
  }
  
  /* line 91, sass/snippets/_full-width-video-snippet.scss */
  .controls-container .video-control.off .pause {
    display: none;
  }
  
  /* line 96, sass/snippets/_full-width-video-snippet.scss */
   .controls-container .video-control:hover {
    cursor: pointer;
  }
  
  @media (max-width: 850px) {
    /* line 103, sass/snippets/_full-width-video-snippet.scss */
     .controls-container .video-control.sound-icon {
      display: none;
    }
  }
  
  @media (max-width: 568px) {
    /* line 20, sass/snippets/_full-width-video-snippet.scss */
     .controls-container {
      bottom: 90px;
      right: 10px;
    }
    /* line 114, sass/snippets/_full-width-video-snippet.scss */
     .controls-container .video-control .video-btn {
      border-radius: 20px;
      padding: 12px;
      margin: 5px;
    }
    /* line 119, sass/snippets/_full-width-video-snippet.scss */
     .controls-container .video-control .video-btn svg {
      height: 16px;
      width: 16px;
    }
    /* line 124, sass/snippets/_full-width-video-snippet.scss */
     .controls-container .video-control .video-btn span {
      font-size: 10px;
      line-height: 12px;
      color: #2e2e2e;
      margin-left: 5px;
    }
    /* line 132, sass/snippets/_full-width-video-snippet.scss */
     .controls-container .video-control.sound-icon {
      display: none;
    }


.site-header {
  border-bottom: 1px solid $color-border;
  padding-bottom: 1.125rem;
  padding-top: 1.125rem;
}

.navbar {
  align-items: center;
  display: flex;
}

.navbar__logo,
.navbar__title {
  flex: 0 1 auto;
  margin: 0 1.25rem 0 0;
  text-decoration: none;
}

.navbar__logo {
  img {
    max-height: 2rem;
  }
}

.navbar__menu {
  margin-left: auto;
}

.navbar__item {
  font-size: 0.875em;
}

@include media-breakpoint-up(md) {
  .js-nav-toggle {
    display: none;
  }

  .navbar__list {
    align-items: center;
    display: flex;
  }

  .navbar__item {
    margin-left: 1.25rem;
  }

  .js-menu-toggle {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .navbar {
    &:after {
      background: $color-bg-overlay;
      content: "";
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity .25s, visibility 0s .25s;
      visibility: hidden;
      width: 100%;
    }
  }

  .navbar__menu-btn,
  .navbar__close-btn {
    margin-left: auto;
  }

  .navbar__menu {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: $color-bg;
    bottom: 0;
    right: -100%;
    max-width: $width-xs;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    transition: right .3s cubic-bezier(.65,.05,.36,1), visibility 0s .3s;
    visibility: hidden;
    width: 100%;
    z-index: 999;
  }

  .navbar__scroller {
    height: 100%;
    overflow-y: auto;
    position: relative;
  }

  .navbar__inner {
    padding: 1.125rem 1.5rem;
  }

  .navbar__close-btn {
    position: absolute;
    right: 1.5rem;
    top: 1.125rem;
  }

  .navbar__list {
    margin-top: 3rem;
  }

  .navbar__item {
    border-top: 1px solid $color-border;

    &:not(.navbar__item--btn):last-child {
      border-bottom: 1px solid $color-border;
    }

    a {
      &:not(.btn) {
        display: block;
        padding: 0.75rem 0;
      }
    }

    .btn {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      width: 100%;
    }
  }

  .navbar__item--btn {
    padding: 1.125rem 0;

    & + & {
      border-top: 0;
      padding-top: 0;
    }

  }

  .js-nav-open {
    overflow: hidden;

    .navbar {
      &:after {
        opacity: 1;
        transition: opacity .25s;
        visibility: visible;
        z-index: 998;
      }
    }

    .navbar__menu {
      right: 0;
      transition: right .3s ease;
      visibility: visible;
    }
  }
}

